set backup
set backupdir="/private/tmp"
set dir="/private/tmp"
set backspace="indent,eol,start"
set ruler
set tabstop=2
set expandtab
set shiftwidth=2
set smarttab
set linebreak
set smartindent
set cindent
set autoindent
set ignorecase
set smartcase
set number
set relativenumber
set splitright
set splitbelow
set cursorline
set hidden
set clipboard="unnamed"
set shortmess="a"
set termguicolors
set completeopt="menu,menuone,noselect,noinsert"
